.banner-img {
  background-image: url('../assets/banner-image.png');
  background-size: cover;
  background-position: center;
  height: 352px;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 32px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.banner-texto {
  width: 100%;
  max-width: var(--max-width-container);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.banner-texto h1{
  font-size: 52px;
  font-weight: 700;
}

.banner-texto p{
  font-size: 22px;
  font-weight: 700;
}

.banner-texto button{
  background-color: var(--azul-100, #2A7AE4);
  border: none;
  padding: 16px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}