:root{
  --max-width-container: 1136px;
  --background-grey: #F5F5F5;
  --azul-100: #2A7AE4;
}

*{
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
}

header{
  max-width: var(--max-width-container);
  width: 100%;
  margin: 0 auto;
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
}

header section.principal{
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 601px;
}

header .search-bar {
  background-color: var(--background-grey);
  border-radius: 20px; 
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

header .search-input {
  border: none;
  outline: none;
  background-color: var(--background-grey);
  width: 100%;
}

header .search-button {
  background: none;
  border: none;
  cursor: pointer;
}

header .login{
  border: 1px solid var(--azul-100, #2A7AE4);
  color: var(--azul-100, #2A7AE4);
  padding: 16px;
  background:none;
  width: 100%;
  max-width: 150px;
  font-size: 16px;
}

.banner-img {
  background-image: url('../assets/banner-image.png');
  background-size: cover;
  background-position: center;
  height: 352px;
  position: relative;
  text-align: center;
  color: #fff;
  padding: 32px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.banner-texto {
  width: 100%;
  max-width: var(--max-width-container);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.banner-texto h1{
  font-size: 52px;
  font-weight: 700;
}

.banner-texto p{
  font-size: 22px;
  font-weight: 700;
}

.banner-texto button{
  background-color: var(--azul-100, #2A7AE4);
  border: none;
  padding: 16px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}